In [2]:
import tensorflow as tf

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.shape

(10000, 14)

In [6]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
import seaborn as sns

In [8]:
X = df.iloc[:, 3:13]
y = df.iloc[:, 13]

In [9]:
geography = pd.get_dummies(X['Geography'], drop_first=True)
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [10]:
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [11]:
X = pd.concat([X, geography,gender], axis=1)

In [12]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [13]:
X = X.drop(['Geography','Gender'], axis=1)

In [14]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [15]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
sc = StandardScaler()

In [19]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
import keras

In [21]:
from keras.models import Sequential

In [22]:
from keras.layers import Dense

In [23]:
from keras.layers import Dropout

In [24]:
from keras.layers import LeakyReLU,PReLU,ELU

In [25]:
X_train.shape

(8000, 11)

In [26]:
#Initializing ANN
Classifier =Sequential()

In [27]:
#Adding input layer & first hidden layer
Classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation='relu', input_dim = 11))

In [28]:
#Adding second hidden layer
Classifier.add(Dense(units=6, kernel_initializer = 'he_uniform', activation='relu'))

In [29]:
#Adding output layer
Classifier.add(Dense(units=1, kernel_initializer = 'glorot_uniform', activation='sigmoid'))

In [30]:
Classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [31]:
#Compiling ANN
Classifier.compile(optimizer='adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [32]:
model_history = Classifier.fit(X_train, y_train,validation_split=0.33, batch_size=10, epochs= 100)

Epoch 1/100
536/536 [==============================] - 63s 9ms/step - loss: 0.8544 - accuracy: 0.5217 - val_loss: 0.5279 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 2s 4ms/step - loss: 0.5181 - accuracy: 0.7914 - val_loss: 0.4837 - val_accuracy: 0.8016
Epoch 3/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4611 - accuracy: 0.8070 - val_loss: 0.4573 - val_accuracy: 0.8027
Epoch 4/100
536/536 [==============================] - 3s 5ms/step - loss: 0.4527 - accuracy: 0.8035 - val_loss: 0.4444 - val_accuracy: 0.8050
Epoch 5/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4259 - accuracy: 0.8203 - val_loss: 0.4396 - val_accuracy: 0.8122
Epoch 6/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4173 - accuracy: 0.8172 - val_loss: 0.4355 - val_accuracy: 0.8122
Epoch 7/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4081 - accuracy: 0.8245 - val_loss: 0.4324 - val_accuracy: 0.8095
Epoch 8/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4114 - accuracy: 0.8260 - val_loss: 0.4277 - val_accuracy: 0.8194
Epoch 9/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4043 - accuracy: 0.8275 - val_loss: 0.4253 - val_accuracy: 0.8167
Epoch 10/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4087 - accuracy: 0.8257 - val_loss: 0.4223 - val_accuracy: 0.8194
Epoch 11/100
536/536 [==============================] - 3s 5ms/step - loss: 0.4090 - accuracy: 0.8290 - val_loss: 0.4184 - val_accuracy: 0.8213
Epoch 12/100
536/536 [==============================] - 3s 5ms/step - loss: 0.4068 - accuracy: 0.8234 - val_loss: 0.4153 - val_accuracy: 0.8213
Epoch 13/100
536/536 [==============================] - 2s 5ms/step - loss: 0.3900 - accuracy: 0.8323 - val_loss: 0.4102 - val_accuracy: 0.8228
Epoch 14/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3894 - accuracy: 0.8379 - val_loss: 0.4061 - val_accuracy: 0.8220
Epoch 15/100
536/536 [==============================] - 3s 5ms/step - loss: 0.4001 - accuracy: 0.8311 - val_loss: 0.3959 - val_accuracy: 0.8307
Epoch 16/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3676 - accuracy: 0.8476 - val_loss: 0.3887 - val_accuracy: 0.8406
Epoch 17/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3626 - accuracy: 0.8519 - val_loss: 0.3791 - val_accuracy: 0.8402
Epoch 18/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3565 - accuracy: 0.8520 - val_loss: 0.3743 - val_accuracy: 0.8440
Epoch 19/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3569 - accuracy: 0.8553 - val_loss: 0.3695 - val_accuracy: 0.8432
Epoch 20/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3323 - accuracy: 0.8624 - val_loss: 0.3677 - val_accuracy: 0.8455
Epoch 21/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3345 - accuracy: 0.8599 - val_loss: 0.3661 - val_accuracy: 0.8463
Epoch 22/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3395 - accuracy: 0.8607 - val_loss: 0.3657 - val_accuracy: 0.8501
Epoch 23/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3349 - accuracy: 0.8651 - val_loss: 0.3628 - val_accuracy: 0.8493
Epoch 24/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3388 - accuracy: 0.8613 - val_loss: 0.3629 - val_accuracy: 0.8512
Epoch 25/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3336 - accuracy: 0.8636 - val_loss: 0.3643 - val_accuracy: 0.8523
Epoch 26/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3269 - accuracy: 0.8618 - val_loss: 0.3630 - val_accuracy: 0.8516
Epoch 27/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3249 - accuracy: 0.8645 - val_loss: 0.3627 - val_accuracy: 0.8535
Epoch 28/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3503 - accuracy: 0.8522 - val_loss: 0.3621 - val_accuracy: 0.8527
Epoch 29/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3338 - accuracy: 0.8593 - val_loss: 0.3618 - val_accuracy: 0.8504
Epoch 30/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3314 - accuracy: 0.8591 - val_loss: 0.3622 - val_accuracy: 0.8519
Epoch 31/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3319 - accuracy: 0.8647 - val_loss: 0.3639 - val_accuracy: 0.8516
Epoch 32/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3509 - accuracy: 0.8499 - val_loss: 0.3625 - val_accuracy: 0.8512
Epoch 33/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3242 - accuracy: 0.8669 - val_loss: 0.3621 - val_accuracy: 0.8504
Epoch 34/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3329 - accuracy: 0.8576 - val_loss: 0.3629 - val_accuracy: 0.8523
Epoch 35/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3407 - accuracy: 0.8522 - val_loss: 0.3618 - val_accuracy: 0.8538
Epoch 36/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3247 - accuracy: 0.8624 - val_loss: 0.3617 - val_accuracy: 0.8546
Epoch 37/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3370 - accuracy: 0.8568 - val_loss: 0.3611 - val_accuracy: 0.8508
Epoch 38/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3242 - accuracy: 0.8569 - val_loss: 0.3609 - val_accuracy: 0.8535
Epoch 39/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3249 - accuracy: 0.8594 - val_loss: 0.3621 - val_accuracy: 0.8493
Epoch 40/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3276 - accuracy: 0.8604 - val_loss: 0.3610 - val_accuracy: 0.8508
Epoch 41/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3217 - accuracy: 0.8621 - val_loss: 0.3606 - val_accuracy: 0.8523
Epoch 42/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3393 - accuracy: 0.8531 - val_loss: 0.3625 - val_accuracy: 0.8538
Epoch 43/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3272 - accuracy: 0.8594 - val_loss: 0.3594 - val_accuracy: 0.8531
Epoch 44/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3328 - accuracy: 0.8602 - val_loss: 0.3631 - val_accuracy: 0.8516
Epoch 45/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3335 - accuracy: 0.8630 - val_loss: 0.3607 - val_accuracy: 0.8535
Epoch 46/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3332 - accuracy: 0.8542 - val_loss: 0.3601 - val_accuracy: 0.8516
Epoch 47/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3391 - accuracy: 0.8554 - val_loss: 0.3620 - val_accuracy: 0.8523
Epoch 48/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3471 - accuracy: 0.8540 - val_loss: 0.3619 - val_accuracy: 0.8535
Epoch 49/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3334 - accuracy: 0.8636 - val_loss: 0.3617 - val_accuracy: 0.8546
Epoch 50/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3305 - accuracy: 0.8608 - val_loss: 0.3620 - val_accuracy: 0.8508
Epoch 51/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3300 - accuracy: 0.8581 - val_loss: 0.3596 - val_accuracy: 0.8504
Epoch 52/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3247 - accuracy: 0.8654 - val_loss: 0.3618 - val_accuracy: 0.8493
Epoch 53/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3285 - accuracy: 0.8611 - val_loss: 0.3599 - val_accuracy: 0.8554
Epoch 54/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3220 - accuracy: 0.8632 - val_loss: 0.3607 - val_accuracy: 0.8512
Epoch 55/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3328 - accuracy: 0.8579 - val_loss: 0.3605 - val_accuracy: 0.8519
Epoch 56/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3204 - accuracy: 0.8653 - val_loss: 0.3621 - val_accuracy: 0.8493
Epoch 57/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3268 - accuracy: 0.8596 - val_loss: 0.3591 - val_accuracy: 0.8538

Epoch 58/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3214 - accuracy: 0.8544 - val_loss: 0.3612 - val_accuracy: 0.8504
Epoch 59/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3185 - accuracy: 0.8608 - val_loss: 0.3599 - val_accuracy: 0.8538
Epoch 60/100
536/536 [==============================] - 2s 5ms/step - loss: 0.3338 - accuracy: 0.8565 - val_loss: 0.3595 - val_accuracy: 0.8519
Epoch 61/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3320 - accuracy: 0.8571 - val_loss: 0.3599 - val_accuracy: 0.8531
Epoch 62/100
536/536 [==============================] - 2s 5ms/step - loss: 0.3257 - accuracy: 0.8639 - val_loss: 0.3604 - val_accuracy: 0.8512
Epoch 63/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3412 - accuracy: 0.8519 - val_loss: 0.3596 - val_accuracy: 0.8550
Epoch 64/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3279 - accuracy: 0.8630 - val_loss: 0.3641 - val_accuracy: 0.8489
Epoch 65/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3220 - accuracy: 0.8627 - val_loss: 0.3603 - val_accuracy: 0.8504
Epoch 66/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3294 - accuracy: 0.8569 - val_loss: 0.3592 - val_accuracy: 0.8531
Epoch 67/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3401 - accuracy: 0.8594 - val_loss: 0.3620 - val_accuracy: 0.8504
Epoch 68/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3201 - accuracy: 0.8660 - val_loss: 0.3599 - val_accuracy: 0.8527
Epoch 69/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3423 - accuracy: 0.8539 - val_loss: 0.3656 - val_accuracy: 0.8489
Epoch 70/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3311 - accuracy: 0.8608 - val_loss: 0.3604 - val_accuracy: 0.8542
Epoch 71/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3393 - accuracy: 0.8534 - val_loss: 0.3628 - val_accuracy: 0.8516
Epoch 72/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3246 - accuracy: 0.8640 - val_loss: 0.3612 - val_accuracy: 0.8538
Epoch 73/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3356 - accuracy: 0.8529 - val_loss: 0.3602 - val_accuracy: 0.8535
Epoch 74/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3172 - accuracy: 0.8628 - val_loss: 0.3594 - val_accuracy: 0.8523
Epoch 75/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3270 - accuracy: 0.8552 - val_loss: 0.3607 - val_accuracy: 0.8501
Epoch 76/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3218 - accuracy: 0.8627 - val_loss: 0.3594 - val_accuracy: 0.8512
Epoch 77/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3205 - accuracy: 0.8641 - val_loss: 0.3603 - val_accuracy: 0.8501
Epoch 78/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3253 - accuracy: 0.8601 - val_loss: 0.3607 - val_accuracy: 0.8493
Epoch 79/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3253 - accuracy: 0.8598 - val_loss: 0.3601 - val_accuracy: 0.8535
Epoch 80/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3110 - accuracy: 0.8641 - val_loss: 0.3620 - val_accuracy: 0.8474
Epoch 81/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3338 - accuracy: 0.8569 - val_loss: 0.3605 - val_accuracy: 0.8501
Epoch 82/100
536/536 [==============================] - 2s 5ms/step - loss: 0.3163 - accuracy: 0.8626 - val_loss: 0.3605 - val_accuracy: 0.8493
Epoch 83/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3244 - accuracy: 0.8632 - val_loss: 0.3619 - val_accuracy: 0.8508
Epoch 84/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3150 - accuracy: 0.8688 - val_loss: 0.3610 - val_accuracy: 0.8508
Epoch 85/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3224 - accuracy: 0.8600 - val_loss: 0.3626 - val_accuracy: 0.8474
Epoch 86/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3227 - accuracy: 0.8649 - val_loss: 0.3613 - val_accuracy: 0.8463
Epoch 87/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3236 - accuracy: 0.8664 - val_loss: 0.3634 - val_accuracy: 0.8463
Epoch 88/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3314 - accuracy: 0.8564 - val_loss: 0.3619 - val_accuracy: 0.8474
Epoch 89/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3211 - accuracy: 0.8629 - val_loss: 0.3596 - val_accuracy: 0.8512
Epoch 90/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3340 - accuracy: 0.8566 - val_loss: 0.3595 - val_accuracy: 0.8550
Epoch 91/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3367 - accuracy: 0.8555 - val_loss: 0.3618 - val_accuracy: 0.8527
Epoch 92/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3231 - accuracy: 0.8639 - val_loss: 0.3604 - val_accuracy: 0.8493
Epoch 93/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3242 - accuracy: 0.8599 - val_loss: 0.3605 - val_accuracy: 0.8501
Epoch 94/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3249 - accuracy: 0.8616 - val_loss: 0.3607 - val_accuracy: 0.8519
Epoch 95/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3160 - accuracy: 0.8684 - val_loss: 0.3596 - val_accuracy: 0.8523
Epoch 96/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3410 - accuracy: 0.8557 - val_loss: 0.3601 - val_accuracy: 0.8508
Epoch 97/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3184 - accuracy: 0.8600 - val_loss: 0.3608 - val_accuracy: 0.8463
Epoch 98/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3283 - accuracy: 0.8641 - val_loss: 0.3617 - val_accuracy: 0.8523
Epoch 99/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3177 - accuracy: 0.8679 - val_loss: 0.3600 - val_accuracy: 0.8519
Epoch 100/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3174 - accuracy: 0.8678 - val_loss: 0.3619 - val_accuracy: 0.8493

In [33]:
y_pred = Classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [34]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [35]:
from sklearn.metrics import confusion_matrix

In [36]:
cm = confusion_matrix(y_test, y_pred)

In [37]:
cm

array([[1504,   91],
       [ 188,  217]], dtype=int64)

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
score = accuracy_score(y_pred, y_test)

In [40]:
score

0.8605

In [41]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [42]:
Classifier.predict([[902,66,10,105000,1,1,1,90000,1,0,1]])

array([[1.]], dtype=float32)